.staking-banner-sec {
  padding-bottom: 100px;
}
.staking-banner-textbox {
  margin-left: auto;
  margin-right: auto;
  margin-top: 146px;
  margin-bottom: 132px;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.staking-banner-textbox h1 {
  color: #ffffff;
  font-family: "Pretendard";
  font-size: 63px;
  letter-spacing: -2px;
  font-weight: bold;
  text-align: center;
  filter: drop-shadow(0px 3px 9px rgba(4, -1, -1, 0.44));
  margin-bottom: 10px;
}

.staking-banner-textbox h1 span {
  color: #9807b5;
}

.staking-banner-textbox p {
  font-size: 24px;
  letter-spacing: -1px;
  color: #ffffff;
  text-align: center;
  filter: drop-shadow(0px 3px 9px rgba(4, -1, -1, 0.44));
  max-width: 500px;
  margin: 0 auto;
}

.bg-white-2 {
  background-color: rgba(255, 255, 255, 0.7);
}

.dashboard-content {
  border-radius: 20px;
  padding: 30px;
}

.chart-tab {
  font-size: 12px;
  border-radius: 100px;
  padding: 4px 24px;
  transition: all 0.2s ease;
}

.my-wallet-box {
  padding: 32px;
  border-radius: 20px;
}

.bg-wallet {
  background-color: rgba(152, 7, 181, 0.7);
}

.connect-wallet {
  margin-top: 60px;
}

.faqs-sec {
  padding: 60px 0 120px 0;
}

@media (max-width: 1200px) {
  .interest-wrap {
    flex-wrap: wrap;
  }

  .dashboard-wrapper > .flex.gap-3 {
    flex-wrap: wrap;
  }

  .dashboard-wrapper > .flex.gap-3 .col-8 {
    width: 100%;
  }
  .dashboard-wrapper > .flex.gap-3 .col-4 {
    width: 100%;
  }
  .dashboard-wrapper > .flex.gap-3 .col-4 .w-100 {
    display: flex;
    justify-content: center;
    gap: 24px;
  }
  .dashboard-wrapper > .flex.gap-3 .col-4 .w-100 .my-wallet-box {
    width: 50%;
  }
}

@media (max-width: 1023px) {
  .interest-wrap .col.bg-white.p-3.rounded-3:not(:last-child) {
    width: 50%;
    text-wrap-mode: nowrap;
  }

  .interest-wrap .col.bg-white.p-3.rounded-3:last-child {
    width: 100%;
  }

  .my-wallet-box {
    padding: 24px 14px !important;
  }

  .staking-box-gap {
    gap: 24px;
  }

  .staking-box {
    padding: 32px 16px;
  }

  .staking-boxs {
    padding: 14px;
  }
}

@media (max-width: 768px) {
  .dasboard-content-row {
    flex-direction: column;
  }
  .my-wallet-box {
    width: 100% !important;
  }

  .staking-banner-sec {
    padding: 40px 0;
  }
  .staking-banner-textbox {
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 40px;
  }

  .staking-banner-textbox h1 {
    font-size: 32px;
  }
}

@media (max-width: 640px) {
  .text-16 {
    font-size: 14px;
  }
  .text-22 {
    font-size: 18px;
  }

  .staking-banner-textbox h1 {
    font-size: 32px;
  }
  .staking-banner-textbox p {
    font-size: 16px;
  }

  .staking-banner-sec {
    padding-bottom: 40px;
  }

  .faqs-sec {
    padding: 40px 0 120px 0;
  }

  .staking-banner-textbox {
    margin-bottom: 40px;
    margin-top: 20px;
  }

  .content-box {
    flex-direction: column;
  }

  .text-24 {
    font-size: 18px;
  }

  .staking-box-gap {
    flex-direction: column;
  }

  .staking-box-gap {
    gap: 10px;
  }

  .staking-box {
    margin: auto;
  }

  .chart-wrap {
    margin: auto;
  }

  .wallet-staking-box {
    flex-wrap: wrap;
  }

  .wallet-staking-box .bt-primary.ml-auto.max-btn {
    margin: auto;
  }

  .dashboard-content .flex.align-items-center.mb-4.justify-content-between {
    flex-direction: column;
    align-items: start !important;
  }

  .chart-head {
    flex-direction: row !important;
    margin-bottom: 40px;
  }

  .my-wallet-box {
    padding: 14px !important;
  }
}
@media (max-width: 540px) {
  .dashboard-content .flex.gap-3.mb-3 {
    flex-direction: column;
  }

  .staking-list-item {
    gap: 20px;
  }

  .dasboard-content-row {
    flex-direction: column;
    gap: 0 !important;
  }

  .wallet-staking .wallet-staking-box {
    flex-direction: row !important;
  }
  .dashboard-wrapper > .flex.gap-3 .col-4 .w-100 .my-wallet-box {
    width: 100%;
    padding: 32px 16px !important;
  }

  .wallet-staking-box {
    gap: 10px !important;
    align-items: center;
  }

  .text-22 {
    font-size: 16px;
  }

  .text-18 {
    font-size: 16px;
  }

  .chart-head {
    flex-direction: column !important;
    gap: 20px;
  }

  .dashboard-content {
    padding: 32px 16px;
  }

  .unstaking-head h2 {
    font-size: 20px;
  }

  .max-btn {
    font-size: 14px;
  }
}

@media (max-width: 370px) {
  .staking-list-item {
    gap: 10px;
  }

  .staking-list-item h3 {
    font-size: 14px;
  }
  .staking-list-item p {
    font-size: 14px;
  }
}
