#loader {
  border: 2px solid #f3f3f3; /* Light grey */
  border-top: 2px solid var(--purple-1); /* Blue */
  border-radius: 50%;
  width: 18px;
  height: 18px;
  animation: spin 2s linear infinite;
  padding: 0px;
  margin: 0px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.blurred-background {
  background: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
  backdrop-filter: blur(2px); /* Apply the blur effect */
  -webkit-backdrop-filter: blur(2px); /* For Safari support */
  border-radius: 15px; /* Optional: adds rounded corners */
  padding: 20px; /* Optional: inner spacing */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow */
}
