@media (max-width: 768px) {
  .d-md-block {
    display: none !important;
  }
}

@media (max-width: 767.98px) {
  .sidebar {
    display: none !important;
  }
  .app-wrapper{
    display: block !important;
  }
  .routes-wrapper{
    margin-left: 0 !important;
  }
}
