.text-box h2 {
     font-size: 36px;
     letter-spacing: -1px;
     color: #fff;
     font-weight: 800;
     font-family: "pretendard";
     text-align: center;
}

.text-box h2 span {
     color: #9807b5;
}

.community-sec {
     padding: 80px 0px 180px;
}

.text-box h3 {
     font-size: 65px;
     letter-spacing: -2px;
     line-height: 66px;
     color: #ffffff;
     font-weight: 800;
     font-family: "pretendard";
     margin-bottom: 14px;
}

.text-box p {
     font-size: 26px;
     letter-spacing: -1px;
     color: #ffffff;
     font-weight: 500;
     font-family: "pretendard";

}

.community-sec {
     background-image: url(../images/communitie-bg.png);
     background-repeat: no-repeat;
     background-size: auto;
     background-position: left;
}

.communities-boxes {
     display: grid;
     grid-gap: 20px;
     grid-template-columns: 4fr 4fr 4fr;
}

.communities-boxes .communitie-box {
     border-radius: 15px;
     filter: drop-shadow(0px 3px 3px rgba(4, -1, -1, 0.35));
     background-color: rgb(17, 17, 17, 0.80);
     padding: 28px 25px;
}

.communitie-box h4 {
     font-size: 22px;
     letter-spacing: -1px;
     color: #ffffff;
     font-weight: 500;
     font-family: "pretendard";
     padding: 26px 0px 12px;
}

.communitie-box span {
     font-size: 16px;
     letter-spacing: 0px;
     display: block;
     color: #c9c9c9;
     font-weight: 500;
     font-family: "pretendard";
}

.badge {
     font-size: 15px;
     letter-spacing: 0px;
     color: #ffffff;
     font-weight: 500;
     font-family: "pretendard";
     border-radius: 5px 16px 5px 5px;
     background-color: #8909a5;
     width: 77px;
     height: 30px;
     display: flex;
     align-items: center;
     justify-content: center;
     position: absolute;
     top: 10px;
     right: 10px;
}

.bototm-space {
     margin-bottom: 154px;
}



@media (max-width: 1365px) {

     .text-box h3 {
          font-size: 50px;
          line-height: 56px;
     }

     .community-sec {
          padding: 80px 0px 80px;
     }

     .text-box p {
          font-size: 20px;
     }

}


@media (max-width:1199px) {

     .text-box h3 {
          font-size: 42px;
          line-height: 48px;
     }

     .communities-boxes .communitie-box {
          border-radius: 12px;
          padding: 20px 16px;
     }



}


@media (max-width: 991px) {
     .communities-boxes {
          margin-top: 48px;
     }

     .bototm-space {
          margin-bottom: 60px;
     }

     .community-sec {
          padding: 56px 0px 60px;
     }
}

@media (max-width:767px) {
     .communities-boxes {
          grid-gap: 12px;
          grid-template-columns: 4fr 4fr;
          margin-top: 30px;
     }

     .text-box h3 {
          font-size: 36px;
          line-height: 34px;
     }
}

@media (max-width: 575px) {
     .text-box h3 {
          font-size: 30px;
          line-height: 30px;
     }

     .text-box h2 {
          font-size: 26px;
     }

     .bototm-space {
          margin-bottom: 32px;
     }

     .community-sec {
          padding: 44px 0px 50px;
     }
}