.public-sail-sec {
  padding: 150px 0px 50px;
  /* background-image: url(../images/public_sail_bg.png); */
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left;
}

.bototm-space {
  margin-bottom: 154px;
}
