.public-sail-sec {
  padding: 50px 0px 0px;
  /* background-image: url(../wp-includes/images/public_sail_bg.png); */
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left;
}

.bototm-space {
  margin-bottom: 154px;
}
