.faqs-wrap{
    background-color: transparent;
}

.faq-item{
    background-color: transparent;
    border: none;
    color: #fff;
    padding: 0;
    margin: 0;
    text-decoration: none;
    border-bottom: 1px solid #7B6793;
    border-radius: 0 !important;
}

.faq-head button{
    background-color: transparent !important;
    color: #fff !important;
    padding: 24px 24px;
    gap: 35px;
    box-shadow: none !important;

}

.accordion-button::after{
    transform: rotate(-90deg);
    filter: invert();
}
.accordion-button:not(.collapsed)::after{
    transform: rotate(0deg);
}