
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

input[type=number] {
-moz-appearance: textfield;
}


.airdrop-period-container{
position: relative;
max-width: 699px;

}


.airdrop-period-box{
width: 100%;
background-color :rgba(32, 32, 32, 0.7);
border-radius: 30px;
padding: 20px;
padding-top: 58px;
padding-bottom: 44px;
box-shadow: (0px 3px 8px rgba(4,-1,-1,0.35));
position: relative;
z-index: 1;
}

.airdrop-period-title{
font-size: 26px;
letter-spacing: -1px;
color: #ffffff;
font-weight: 500;
font-family: "Pretendard";
text-align: center;
}

.timer-wrap{
padding: 24px;
margin: 0 auto;
}
.timer-box{
display: flex;
justify-content: center;
align-items: center;
gap: 8px;
}

.timer-digits{
background-color: #fff;
padding: 16px;
border-radius: 15px;
width: 99px;
text-align: center;
}

.timer-digit{
font-size: 24px;
letter-spacing: -1px;
font-weight: 600;
color: #8109a3;
line-height: 24px;
margin-bottom: 6px;

}
.timer-day{
font-size: 18px;
font-weight: 600;
letter-spacing: -1px;
}


.timer-colon{
color: #fff;
font-size: 24px;
}



.airdrop-period-body{
padding: 0 42px;
}

.airdrop-period-textbox{
padding-bottom: 34px;
border-bottom: 1px solid #7A7482;
}

.airdrop-period-textbox h3{
font-size: 18px;
letter-spacing: 0px;
color: #ffffff;
font-weight: 500;
font-family: "Pretendard";
text-align: center;
margin-bottom: 28px;
margin-top: 20px;
}

.airdrop-period-textbox p{
font-size: 16px;
letter-spacing: 0px;
color: #ffffff;
font-family: "Pretendard";
text-align: center;
}

.airdrop-form-row{
display: flex;
align-items: center;
margin-bottom: 24px;
gap: 22px;
}

.input-token-container{
width: 100%;
position: relative;
border-radius: 5px;
background-color: #dbdbdb;
height: 52px;
padding-left: 24px;
padding-right: 24px;
}

.token-input{
max-width: 60px;
height: 100%;
margin-left: 50px;
margin-right: 50px;
background-color: transparent;
border: transparent;
font-size: 16px;
letter-spacing: 0px;
color: #292929;
font-weight: 500;
font-family: "Pretendard";

}

.input-mecca::placeholder{
font-size: 16px;
letter-spacing: 0px;
color: #292929;
font-weight: 500;
font-family: "Pretendard";
}

.input-mecca-container input::placeholder{
color: #888888;
}

.input-mecca-container input{
  padding: 24px;
}

.input-token-container span{
position: absolute;
right: 20px;
top: 50%;
transform: translateY(-50%);
font-size: 12px;
letter-spacing: 0px;
color: #292929;
font-weight: 500;
font-family: "Pretendard";
}

.token-selector{
  width: 225px;
}


.wallet-address-input label,
.token-selector label{
font-size: 16px;
letter-spacing: 0px;
color: #ffffff;
font-weight: 500;
font-family: "Pretendard";
margin-bottom: 6px;
margin-top: 14px;
}


.mecca-logo-input{
position: absolute;
left: 20px;
top: 50%;
transform: translateY(-50%);
}

.wallet-address-input{
width: 100%;
max-width: 362px;
}

.airdrop-form-btn button{
font-size: 18px;
letter-spacing: -1px;
color: #9807b5;
font-weight: 500;
font-family: "Pretendard";
text-align: center;
width: 100%;
height: 62px;
border-radius: 5px;
filter: drop-shadow(0px 3px 3px rgba(4,-1,-1,0.35));
background-color: #dbdbdb;
border: transparent;
margin-top: 10px;
}
