.withdrawal-bg {
  background-image: url(../images/glowing-stars-rise.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.withdrawal-banner-sec {
  padding-bottom: 64px;
}

.withdrawal-banner-box {
  border-radius: 30px;
  filter: drop-shadow(0px 3px 8px rgba(4, -1, -1, 0.35));
  background-color: rgba(17, 17, 17, 0.8);
  margin-left: auto;
  margin-right: auto;
  margin-top: 146px;
  padding: 64px 44px;
}

.withdrawal-banner-box h1 {
  font-size: 30px;
  letter-spacing: -1px;
  color: #ffffff;
  font-weight: 500;
  font-family: "Pretendard";
}

.withdrawal-box-gap {
  gap: 66px;
}

.withdrawal-box {
  width: 100%;
  max-width: 360px;
}

.dtRab-box {
  background-color: #fff;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 20px;
  margin-top: 25px;
  margin-bottom: 60px;
}

.dtRab-box h2 {
  font-size: 24px;
  letter-spacing: -1px;
  color: #9807b5;
  font-weight: 500;
  font-family: "Pretendard";
}

.dtRab-box p {
  font-size: 14px;
  color: var(--gray-2);
  font-weight: 500;
}

.withdrawal-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.withdrawal-list-item h3 {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.withdrawal-list-item p {
  color: #fff;
  font-size: 16px;
}

.unstaking-sec {
  padding-bottom: 100px;
}

.unstaking-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.bg-unstaking {
  filter: drop-shadow(0px 3px 4px rgba(4, -1, -1, 0.18));
  background-color: rgba(68, 20, 78, 0.6);
}

.bg-partial {
  filter: drop-shadow(0px 3px 4px rgba(4, -1, -1, 0.18));
  background-color: rgba(68, 20, 78, 0.6);
}

.bg-interest {
  filter: drop-shadow(0px 3px 4px rgba(4, -1, -1, 0.18));
  background-color: rgba(17, 17, 17, 0.6);
}

.unstaking-col {
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  overflow: hidden;
}

.unstaking-button-shadow {
  filter: drop-shadow(0px 3px 6.5px rgba(4, -1, -1, 0.19));
}

.unstaking-head {
  color: white;
  padding: 24px;
  padding-bottom: 10px;
  text-align: center;
}

.unstaking-head h2 {
  font-size: 24px;
  font-weight: 600;
}

.unstaking-head.bg-pink {
  background-color: var(--pink-1);
}

.staking-boxs {
  padding: 24px;
}

.staking-input-box {
  background-color: #fff;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
}

.staking-input-boxs {
  gap: 60px;
}

.staking-input-label {
  font-size: 15px;
  color: var(--gray-3);
  font-weight: 700;
}

.staking-input.text-pink {
  color: var(--pink-1);
}

.staking-input {
  font-size: 17px;
  font-weight: 500;
  border: transparent;
  text-align: end;
  width: 49%;
}

.staking-input.unstaking-withdrawal-amount::placeholder {
  color: var(--pink-1);
}

.unstaking-btn {
  width: 100%;
  color: white;
  text-decoration: none;
  border-radius: 12px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  border: none;
  margin-top: 24px;
  margin-bottom: 20px;
  transition: all 0.3s ease;
}

.unstaking-btn:disabled {
  background-color: rgba(128, 0, 128, 0.232) !important;
  color: #fff;
  cursor: not-allowed;
}

.unstaking-btn:disabled:hover {
  border-color: transparent;
}

.unstaking-btn.bg-pink-1:hover {
  background-color: #d21ea5;
}

.timer-box {
  background-color: #fff;
  display: inline-flex;
  padding: 16px 30px;
  border-radius: 12px;
}

.timer-box span {
  color: var(--gray-2);
  font-weight: 600;
  margin-left: 2px;
}

.timer-separator {
  color: var(--green-1);
  font-size: 20px;
  margin: 0 10px;
}

.btn-primary {
  text-decoration: none;
  border-radius: 12px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  border: none;
}

.timer-grid-box {
  margin-top: 12px;
  margin-bottom: 26px;
}

.timer-grid-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.max-btn {
  width: fit-content;
  position: relative;
  right: auto;
  margin-left: auto;
  top: auto;
  transform: none;
  padding: 2px 16px;
  font-size: 18px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

@media (max-width: 1280px) {
  .unstaking-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media (max-width: 1023px) {
  .withdrawal-box-gap {
    flex-direction: column;
    gap: 0;
  }
  .unstaking-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .withdrawal-box {
    max-width: 100%;
  }
  .staking-input {
    width: 100%;
  }

  .withdrawal-banner-box {
    margin-top: 40px;
    padding: 32px 16px;
  }

  .dtRab-box {
    margin-bottom: 30px;
  }

  .chart-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .doughnut-cotainer {
    width: 280px !important;
    height: 280px !important;
  }

  .total-value {
    font-size: 24px !important;
  }
  .value-percentage {
    font-size: 16px !important;
  }
  .value-max {
    font-size: 14px !important;
  }
}
