/* Footer */
.top-footer {
    border-top: 1px solid #8b8098;
    border-bottom: 1px solid #8b8098;
    padding: 18px 0px;
}

.top-footer-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-footer-inner ul {
    display: flex;
    align-items: center;
    grid-gap: 14px;
}

.footer-lists {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
    grid-gap: 10px;
}

.footer-lists h5 {
    font-size: 15px;
    letter-spacing: 0px;
    color: #ffffff;
    font-weight: 500;
    font-family: "pretendard";
    margin-bottom: 10px;
}

.footer-lists li a {
    display: block;
    opacity: 0.702;
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 39px;
    color: #ffffff;
    font-weight: 500;
    font-family: "pretendard";
}

.bottom-footer {
    padding-top: 62px;
    padding-bottom: 55px;
}

@media (max-width: 767px) {
    .footer-lists {
        display: grid;
        grid-template-columns: 2fr 2fr 2fr;
        grid-gap: 10px;
    }
}

@media (max-width:575px) {
    .footer-lists {
        grid-template-columns: 2fr;
    }

    .faqs-sec {
        padding-bottom: 60px;
    }
}