.lang-wrap{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  margin-right: 50px;
  margin-left: 30px;
}

#lang-option{
  height: 34px;
  width: 34px;
  padding: 0 !important;
}
#lang-option::after{
  display: none;
}

.lang-icon{
  position: absolute;
  min-width: 32px;
  height: 32px;
}

.dropdown-menu{
  background-color: #454545;
}

.dropdown-item{
  font-size: 14px;
  color: #fff;

}

@media (max-width: 1200px) {
  .lang-wrap {
    margin-right: 20px;
    margin-left: 20px;

}
}