.navbar-brand {
     padding: 0;
     margin: 0;
}

.navbar {
     padding: 21px 0px;
}

/* Header */
header {
     background-color: rgb(20, 20, 20, 0.60);
}

.navbar-nav .nav-link.active {
     color: #fff;
}

.navbar-nav .nav-link {
     font-size: 15px;
     letter-spacing: 0px;
     color: #ffffff;
     font-weight: 500;
     font-family: "pretendard";
     text-align: center;
     padding: 0px 30px !important;
}

.btn-staking {
     font-size: 15px;
     letter-spacing: 0px;
     color: #ffffff;
     font-weight: 500;
     font-family: "pretendard";
     width: 112px;
     height: 38px;
     border-radius: 19px;
     border: 1px solid #ffffff;
     display: flex;
     align-items: center;
     justify-content: center;
}

@media (max-width: 991px) {
     .navbar-collapse {
          position: absolute;
          left: 0;
          width: 100%;
          top: 73px;
          z-index: 999;
          background: rgb(20, 20, 20, 0.60);
     }

     .navbar-nav {
          padding-bottom: 50px;
     }

     .navbar-nav .nav-link {
          padding: 10px 30px !important;
     }
}